## If you want to use a local model to create the graph memory
# LLM_API_KEY = "ollama"
# LLM_MODEL = "phi4:latest"
# LLM_PROVIDER = "ollama"
# LLM_ENDPOINT = "http://localhost:11434/v1"

LLM_PROVIDER="gemini"
LLM_API_KEY=
LLM_MODEL="gemini/gemini-2.0-flash"
LLM_ENDPOINT="https://generativelanguage.googleapis.com/"
LLM_API_VERSION="v1beta"

EMBEDDING_PROVIDER="ollama"
EMBEDDING_MODEL="avr/sfr-embedding-mistral:latest"
EMBEDDING_ENDPOINT ="http://localhost:11434/api/embeddings"
EMBEDDING_DIMENSIONS=4096
HUGGINGFACE_TOKENIZER="Salesforce/SFR-Embedding-Mistral"

GOOGLE_API_KEY=